{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home {% endblock %}
{% block body %}
{% if user.is_authenticated %}
    <h1 style="font-family:'Anton';font-size: 34px;">{{user.username}}</h1>
    <div id='blogform' class="mycontainer">
        <div class="container">
            <form onsubmit="return false" class="form-group" method="post">
                
                
                <img src= "{% if not user.picture %}{% static 'blogs/default.png' %}{%else%}{% static '../media/blogs/'' %}{{user.picture}}{% endif %}" width="50px" height="50px">
            </form>    
        </div>

    </div>
{% endif%}
        {% if all_blogs %}
            {% for post in all_blogs %}
            <div class ="mycontainer">
                <div class='jumbotron'>
                  <!-- <ul> -->
                        <p><a href="{% url 'full-blog' post.id %}" style="text-decoration: none;color:black"><h1>{{post.title}}</h1></a> </p>
                        <p><a href="{% url 'profile' post.user %}"><h4>@{{post.user}}</h4></a></p>
                        <p><small>{{post.post_date}}</small>&nbsp;&nbsp;<small>{{post.post_time}}</small></p>
                        
                  <!-- </ul>   -->
                </div>
            </div>    
            {% endfor %}
        {% else %}
        <div class="mycontainer">
            <h1 style="font-family: 'Satisfy';font-size: 30px">Welcome to the BlogYard.lorem ipsum Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis hic id fuga assumenda. Ipsa, delectus! Officia facere vitae id voluptates voluptatum necessitatibus odit optio facilis, natus ipsa quas quia ea. </h1>
        </div>
        {% endif %}
    
{% endblock %}